<div class="landing-container">
  <div class="landing-wrapper">
    <div class="landing-content-container">
      <div class="landing-content">

        <div id="section-steps" class="section-steps section">
          <div class="section-wrapper">
            <div class="section-steps-container">

              <div class="xc-col">
                  <div class="xc-col section-steps-container-main">

                    <div class="xc-col-item">
                      <div class="section-steps-image-container">
                        <div class="section-steps-image">
                          <img src="assets/IMG_0967.JPG" alt="" class="img-res">
                        </div>
                      </div>


                      <div class="section-step-item">
                        <div class="xc-col section-step-capsule">
                          <div class="xc-row section-step-icon" >
                            <a href="https://www.linkedin.com/in/vishalthombare">                              
                              <img src="assets/linkedin-app.svg" alt="linkedin" class="img-res"> 
                            </a>
                          </div>

                          <div class="xc-row section-step-icon">
                            <a href="mailto:vishalthombare383gmail.com">                              
                              <img src="assets/gmail.svg" alt="gmail" class="img-res"> 
                            </a>
                          </div>

                          <div class="xc-row section-step-icon">
                            <a href="https://github.com/vishalthombare">
                              <img src="assets/github.svg" alt="github" class="img-res">
                            </a>                             
                          </div>

                          <div class="xc-row section-step-icon">
                            <a href="https://www.instagram.com/thevishalthombare">
                              <img src="assets/ig-instagram.svg" alt="instagram" class="img-res">
                            </a>                             
                          </div>

                          <div class="xc-row section-step-icon">
                            <a href="https://twitter.com/ivishalthombare">
                              <img src="assets/twitter-color.svg" alt="twitter" class="img-res">
                            </a>                             
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="xc-col-item">
                      <div class="section-steps-info-container">
                        <div class="section-step-header">Vishal Thombare</div>
                        <div class="section-step-sub-header">Full Stack Developer</div>

                        <div class="section-step-desc">
                          Software engineer along with the experience of working with Enterprise-Grade software. 
                          Working knowledge of Angular, React, Django rest framework, PostgreSQL, 
                          and agile software development pipelines. Strong technical with 2+ years of experience
                        </div>

                        
                        <div class="xc-row">
                          <div class="xc-col align-item-start">

                            <div class="section-step-item">
                              <div class="xc-col section-step-capsule">
                                <div class="xc-row section-step-icon">
                                  <img src="assets/angular.svg" alt="" class="img-res">                                  
                                  <div class="xc-col-item section-step-capsule-item">                                  
                                    <div class="section-step-capsule-text">
                                      Angular
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

    
                            <div class="section-step-item">
                              <div class="xc-col section-step-capsule">
                                <div class="xc-row section-step-icon">
                                  <img src="assets/react-js.svg" alt="" class="img-res">                                  
                                  <div class="xc-col-item section-step-capsule-item">                                  
                                    <div class="section-step-capsule-text">
                                      React
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
   

                            <div class="section-step-item">
                              <div class="xc-col section-step-capsule">
                                <div class="xc-row section-step-icon">
                                  <img src="assets/javascript.svg" alt="" class="img-res">                                  
                                  <div class="xc-col-item section-step-capsule-item">                                  
                                    <div class="section-step-capsule-text">
                                      javaScript
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <div class="section-step-item">
                              <div class="xc-col section-step-capsule">
                                <div class="xc-row section-step-icon">
                                  <img src="assets/typescript.svg" alt="" class="img-res">                                  
                                  <div class="xc-col-item section-step-capsule-item">                                  
                                    <div class="section-step-capsule-text">
                                      TypeScript
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          
                          <div class="xc-col align-item-start">
                            <div class="section-step-item">
                              <div class="xc-col section-step-capsule">
                                <div class="xc-row section-step-icon">
                                  <img src="assets/django.svg" alt="" class="img-res">                                  
                                  <div class="xc-col-item section-step-capsule-item">                                  
                                    <div class="section-step-capsule-text">
                                      Django
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
    
                            
                            <div class="section-step-item">
                              <div class="xc-col section-step-capsule">
                                <div class="xc-row section-step-icon">
                                  <img src="assets/python.svg" alt="" class="img-res">                                  
                                  <div class="xc-col-item section-step-capsule-item">                                  
                                    <div class="section-step-capsule-text">
                                      Python
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>     
                            

                            <div class="section-step-item">
                              <div class="xc-col section-step-capsule">
                                <div class="xc-row section-step-icon">
                                  <img src="assets/postgresql.svg" alt="" class="img-res">                                  
                                  <div class="xc-col-item section-step-capsule-item">                                  
                                    <div class="section-step-capsule-text">
                                      PostgreSQL
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>   

                            <div class="section-step-item">
                              <div class="xc-col section-step-capsule">
                                <div class="xc-row section-step-icon">
                                  <img src="assets/aws.svg" alt="" class="img-res">                                  
                                  <div class="xc-col-item section-step-capsule-item">                                  
                                    <div class="section-step-capsule-text">
                                      AWS
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>   


                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

